.main
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;


    background-color: #eec5cc;
    background: url('../../assets/bg-img/mount-bg.jpeg') no-repeat fixed 50% 50%/cover;
}

.main::after {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, 0.6);
}

.container
{
    flex-direction: column;
    justify-content: center;
position: relative;
    composes: container from '../../../src/common/style/container.module.css';
}

.greeting
{
    color: #ffffff;
    z-index: 100;
}
.greeting p {
    color: #ffffff;
}
