.skillBox
{

    background: rgba(0, 0, 0, 0.08);
}

.container
{
    flex-direction: column;
    justify-content: flex-start;

    composes: container from '../../../src/common/style/container.module.css';
}

.title
{
}

.skills
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;

    /*border: 1px solid;*/
}

@media screen and (min-width: 625px) {
    .skills {
        justify-content: space-around;
    }
}

@media screen and (min-width: 938px) {
    .skills {
        justify-content: space-between;
    }
}
