.btn {
    z-index: 10;
    position: relative;
    font-family: "Montserrat";
    font-size: 10px;
    padding: 15px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
    outline: none;
}

.btn:disabled {
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #333;
    text-decoration: none;
}

.btn:before,
.btn:after {
    position: absolute;
    z-index: -1;
    content: '';
    width: 120%;
    height: 120%;
    left: 0;
    top: 0;
    transition: all 0.5s ease-out;
}

.btn:before {
    transform: translateX(-100%) rotate(45deg);
}

.btn:after {
    -webkit-transform: translateX(100%) rotate(45deg);
}

.btn:hover:before {
    -webkit-transform: translateX(-50%) rotate(45deg) scale(4);
}

.btn:hover:after {
    -webkit-transform: translateX(50%) rotate(45deg) scale(4);
}

.white:before,
.white:after {
    background: #ffffff;
}

.white:hover {
    color: #000000;
}

.white {
    background: transparent;
    border-color: #ffffff;
    color: #ffffff;
}

.black {
    background: transparent;
    border-color: #000000;
    color: #000000;
}

.black:before,
.black:after {
    background: #000000;
}

.black:hover {
    color: #ffffff;
}