@import '../../common/style/sass/variables';
@import '../../common/style/sass/templates';

.header {
    position: fixed;
    z-index: 1000;

    width: 100%;

    transition: background-color 1s ease-in-out;

    &.headerBlock {
        background-color: transparent;
    }
    &.headerBlock2 {
        background-color: $firstBgColor;
    }
    .container {
        justify-content: flex-end;

        width: 100%;
        min-height: 10%;
        padding: 10px 30px;

        @extend %tplContainer;
    }
}
