@import '../../../common/style/sass/variables';

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    min-width: 34%;
    margin: 0;
    
    @media screen and (max-width: 767px) {
        display: none;
    }
}
