.worksBox
{
    min-height: 100vh;

    background-color: #bdabe7;
}

.container
{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

    composes: container from '../../../src/common/style/container.module.css';
}

.works
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;

    border: 1px solid;
}
