.footer
{
    min-height: 40vh;

    background-color: #acecaf;
}

.container
{
    flex-direction: column;

    composes: container from '../../../src/common/style/container.module.css';
}

.social
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 40%;

    border: 1px solid;
}
