@import "../../../common/style/sass/variables";

.loaderContainer {
    position: fixed;
    z-index: 10000;

    width: 100vw;
    height: 100vh;

    transition: all 1s ease-in-out;

    opacity: 1;
    background-color: $firstBgColor;
}

.load {
    visibility: hidden;

    opacity: 0;
}

.wrapper {
    position: relative;

    overflow: hidden;

    width: 75vmin;
    height: 75vmin;
    margin: 0 auto;
    margin-top: calc((100vh - 75vmin) / 2);
}

.ring {
    position: absolute;

    width: 10%;
    height: 10%;

    border: 1vmin solid black;
    border-radius: 100vmin;
}

$rings: 9;

@for $i from 1 through $rings {
    .ring_#{$i} {
        top: #{percentage(.5 - ($i * (1 / $rings) / 2))};
        left: #{percentage(.5 - ($i * (1 / $rings) / 2))};

        width: #{percentage($i * (1 / $rings))};
        height: #{percentage($i * (1 / $rings))};

        animation: ringAnim #{$rings / $i}s infinite linear;

        border-width: #{ $i * (4 / $rings)}vmin;
        border-color: white transparent transparent transparent;
    }


    @keyframes ringAnim {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
