.workContainer {
    transition: all .6s ease-in-out;
    max-width: 25%;
    height: auto;
    overflow: hidden;
    position: relative;
    /*margin: 15px;*/
}

.work {
    background-color: transparent;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
    color: #333333;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work::before,
.work::after {
    left: 0;
    top: 0;
    content: '';
    opacity: .2;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: all .6s ease-in-out;
}

.work::before {
    transform: translateX(100%);
}

.work::after {
    transform: translateX(-100%);
}

.work:hover::before,
.work:hover::after {
    opacity: 1;
    z-index: 10;
    transform: translateX(0) skewX(45deg) scale(2);
}

.workImg {
    width: 325px;
    height: 325px;
    background: url('../../../assets/bg-img/mount-bg.jpeg') center center;
    margin: 0;
}

.workItem {
    color: #ffffff;
    position: relative;
    z-index: 1000;
    opacity: 0;
    font-size: 1.3em;
    transition: 0.5s all ease-in-out;
}

.work:hover .workItem {
    opacity: 1;
}