@import "../../../common/style/sass/variables";

.link {
  a {
    font-family: $MainFont;
    font-size: 10px;
    line-height: 2;

    position: relative;

    margin-left: 10px;
    padding: 15px 10px;

    transition: all .3s ease-in-out;
    letter-spacing: 2px;
    text-transform: uppercase;
    &:hover {
      color: $hoverTextColor;
    }
    &::after,
    &::before {
      position: absolute;

      width: 0;
      height: 1px;

      content: '';
      transition: all .3s cubic-bezier(1, .5, .8, 1);

      background: $defaultBgColor;
    }

    &::after {
      right: 0;
      bottom: 8px;
    }

    &::before {
      top: 8px;
      left: 0;
    }

    &:hover::after {
      right: calc(50% - 20px);

      width: 40px;
    }

    &:active::before {
      left: calc(50% - 20px);

      width: 40px;
    }
  }
}
