.contactBox
{
    background: rgba(0, 0, 0, 0.08);
}

.container
{
    flex-direction: column;

    composes: container from '../../../src/common/style/container.module.css';
}

.formWrapper {
    width: 49%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background: #000000;
    padding: 40px;
    color: #ffffff;
    font-size: 14px;
}

.contactsForm
{
    width: 100%;
}

textarea
{
    overflow: auto;
color: #fff;
    resize: none;
    min-height: 100px;
}

.formContactsWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.contactsWrapper {
    width: 32%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.contacts {
    display: flex;
    flex-direction: column;
}


