.aboutMe {
    background: #fff;
}

.container {
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 80px;
    composes: container from '../../../src/common/style/container.module.css';
}

.contentWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutText {
    max-width: 49%;
}

.photo
{
    width: 300px;
    height: 300px;

    border-radius: 50%;

    background-color: #bfbbbd;
}